doctype html
html(lang='zh')
  head
    title 产品原型管理中心
    meta(charset='UTF-8')
    link(rel="shortcut icon",href="/favicon.ico")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='stylesheet', href='/css/icheck/flat/blue.css')
    link(rel='stylesheet', href='/css/select2.css')
    link(rel='stylesheet', href='/css/unicorn.css')
    //if lt IE 9
      script(type='text/javascript', src='js/respond.min.js')
    style.
      #header h1{
      width: 294px;
      }
      #content{
      margin-left: 0;
      margin-top: 0;
      }
      #header .btn-group{
      position: absolute;
      right: 20px;
      top: 20px;
      }
      #content-header .input-group{
      margin-top: 14px;
      }
      #content-header .input-group input{
      border-radius: 4px 0 0 4px;
      }
  body.flat(data-color='grey')
    #wrapper
      #header
        h1
        .btn-group
          if login == false
            a.btn.btn-inverse(href='/users/login')
              i.fa.fa-user.icon-white  登陆
            a.btn.btn-inverse(href='/users/register')
              i.fa.fa-edit.icon-white  注册
          else
            a.btn.btn-inverse(href='/users')
              i.fa.fa-cog.icon-white  [#{login.name}]管理中心
            a.btn.btn-inverse(href='/users/logout')
              i.fa.fa-sign-out.icon-white  退出
      #content
        .row
          .col-xs-12
            .widget-box
              .widget-title
                span.icon
                  i.fa.fa-th
                h5 #{title}
              .widget-content.nopadding
                table.table.table-bordered.table-striped.table-hover.data-table
                  thead
                    tr
                      th.col-xs-2 创建时间
                      th.col-xs-5 名称
                      th.col-xs-1 项目版本
                      th.col-xs-1 原型版本
                      th.col-xs-1 状态
                      th.col-xs-1 作者
                      th.col-xs-1 操作
                  tbody
                    each item in data
                      tr
                        td.re-time.no-hour.text-center(data-time="#{item.meta.createAt}") #{item.meta.createAt}
                        td #{item.info.name}
                        td.text-center #{item.version}
                        td.text-center #{item.codeVersion}
                        if item.status == 1
                          td.open
                            span.badge(title="最后修改:\n#{item.meta.updateAt}") 正常
                        else if item.status == 2
                          td.stop
                            span.badge(title="最后修改:\n#{item.meta.updateAt}") 修改中
                        else if item.status == 3
                          td.over
                            span.badge(title="最后修改:\n#{item.meta.updateAt}") 关闭
                        else
                          td.other
                            span.badge(title="最后修改:\n#{item.meta.updateAt}") 未知
                        td #{item.author}
                        td.text-center
                          a(href="/pr?pr=#{item.info.id}",target="_blank") 查看
      .row
        #footer.col-xs-12
          | 2012 - 2013 &copy; Unicorn Admin. Brought to you by
          a(href='http://github.com/chinakids')  chinakids
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/jquery-ui.custom.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.icheck.min.js')
    script(src='/js/select2.min.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/jquery.nicescroll.min.js')
    script(src='/js/unicorn.js')
    script(src='/js/unicorn.tables.js')
