doctype html
html(lang='zh')
  head
    title 产品原型管理中心
    meta(charset='UTF-8')
    link(rel="shortcut icon",href="/favicon.ico")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='stylesheet', href='/css/icheck/flat/blue.css')
    link(rel='stylesheet', href='/css/select2.css')
    link(rel='stylesheet', href='/css/unicorn.css')
    //if lt IE 9
      script(type='text/javascript', src='js/respond.min.js')
    style.
      #header h1{
      width: 294px;
      }
      #content{
      margin-left: 0;
      margin-top: 0;
      }
      #header .btn-group{
      position: absolute;
      right: 20px;
      top: 20px;
      }
      #content-header .input-group{
      margin-top: 14px;
      }
      #content-header .input-group input{
      border-radius: 4px 0 0 4px;
      }
      .nofilter .dataTables_filter{
      display:none;
      }
      .modal-backdrop{
      z-index:1030;
      }
  body.flat(data-color='grey')
    #wrapper
      #header
        h1
        .btn-group
          a.btn.btn-inverse(href='/')
            i.fa.fa-home.icon-white  原型首页
          a.btn.btn-inverse(href='#add-list',data-toggle="modal")
            i.fa.fa-plus.icon-white  添加产品
          a.btn.btn-inverse(href='#add-product',data-toggle="modal")
            i.fa.fa-plus.icon-white  添加原型
          a.btn.btn-inverse(href='/users/logout')
            i.fa.fa-sign-out.icon-white  退出
      #content
        .row
          .col-xs-3
            .widget-box
              .widget-title
                span.icon
                  i.fa.fa-th
                h5 产品列表
              .widget-content.nopadding.nofilter
                table.table.table-bordered.table-striped.table-hover.data-table
                  thead
                    tr
                      th.col-xs-8 产品名称
                      th.col-xs-4 操作
                  tbody
                    each item in data
                      tr
                        td(data-id="#{item._id}") #{item.name}
                        td.text-center
                          a.pending(href="javascript:;") 删除
                          | &nbsp;|&nbsp;
                          a(href="javascript:;") 查看
          .col-xs-9
            .widget-box
              .widget-title
                span.icon
                  i.fa.fa-th
                h5 #{title}
              .widget-content.nopadding
                table.table.table-bordered.table-striped.table-hover.data-table
                  thead
                    tr
                      th.col-xs-2 时间
                      th.col-xs-4 名称
                      th.col-xs-1 项目版本
                      th.col-xs-1 原型版本
                      th.col-xs-1 状态
                      th.col-xs-1 作者
                      th.col-xs-2 操作
                  tbody
                    each item in data
                      tr
                        td.re-time.text-center(data-time="#{item.meta.updateAt}")
                        td #{item.info.name}
                        td.text-center #{item.version}
                        td.text-center #{item.codeVersion}
                        if item.status == 0
                          td.open
                            span.badge 正常
                        else if item.status == 1
                          td.stop
                            span.badge 修改中
                        else if item.status == 2
                          td.over
                            span.badge 关闭
                        else
                          td.other
                            span.badge 关闭
                        td #{item.author}
                        td.text-center
                          a(href="#{item.url}",target="_blank") 查看
                          | &nbsp;|&nbsp;
                          a(href="javascript:;") 编辑
      div#add-list.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(data-dismiss="modal",type="button") ×
              h3 添加产品
            div.modal-body
              p One fine body…
            div.modal-footer
              a.btn.btn-primary.btn-small(href="javascript:;") 提交
              a.btn.btn-default.btn-small(data-dismiss="modal",href="#") 取消
      div#add-product.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(data-dismiss="modal",type="button") ×
              h3 添加原型
            div.modal-body
              .col-xs-12
                .widget-box
                  .widget-title
                    span.icon
                      i.fa.fa-align-justify
                    h5 Rest of elements...
                  .widget-content.nopadding
                    form.form-horizontal(action='#', method='get')
                      .form-group
                        label.col-sm-3.col-md-3.col-lg-2.control-label Select input
                        .col-sm-9.col-md-9.col-lg-10
                          select
                            option First option
                            option Second option
                            option Third option
                            option Fourth option
                            option Fifth option
                            option Sixth option
                            option Seventh option
                            option Eighth option
                      .form-group
                        label.col-sm-3.col-md-3.col-lg-2.control-label Multiple Select input
                        .col-sm-9.col-md-9.col-lg-10
                          select(multiple='')
                            option First option
                            option(selected='') Second option
                            option Third option
                            option Fourth option
                            option Fifth option
                            option Sixth option
                            option Seventh option
                            option Eighth option
                      .form-group
                        label.col-sm-3.col-md-3.col-lg-2.control-label Color picker
                        .col-sm-9.col-md-9.col-lg-10
                          .row
                            .col-md-6
                              input.colorpicker.form-control.input-sm(type='text', data-color='#000000', value='#000000')
                            .col-md-6
                              .input-group.input-group-sm.color.colorpicker(data-color='rgba(244,202,56,0.5)', data-color-format='rgba')
                                span.input-group-addon
                                  i
                                input.form-control(type='text', value='rgba(244,202,56,0.5)')
                      .form-group
                        label.col-sm-3.col-md-3.col-lg-2.control-label Date picker
                        .col-sm-9.col-md-9.col-lg-10
                          .row
                            .col-md-6
                              input.datepicker.form-control.input-sm(type='text', data-date='12-02-2012', data-date-format='dd-mm-yyyy', value='12-02-2012')
                            .col-md-6
                              .input-group.input-group-sm.date.datepicker(data-date='15/09/2013', data-date-format='dd/mm/yyyy')
                                span.input-group-addon
                                  i.fa.fa-calendar
                                input.form-control(type='text', value='15/09/2013')
                      .form-group
                        label.col-sm-3.col-md-3.col-lg-2.control-label Spinner
                        .col-sm-9.col-md-9.col-lg-10
                          input.form-control.input-sm.spinner(type='text', value='10')
                      .form-group
                        label.col-sm-3.col-md-3.col-lg-2.control-label Radio inputs
                        .col-sm-9.col-md-9.col-lg-10
                          label
                            input(type='radio', name='radios', checked='')
                            |                       Checked
                          label
                            input(type='radio', name='radios')
                            |                       Unchecked
                          label.disabled
                            input(type='radio', name='radios2', checked='', disabled='')
                            | Checked disabled
                          label.disabled
                            input(type='radio', name='radios2', disabled='')
                            | Unchecked disabled
                      .form-group
                        label.col-sm-3.col-md-3.col-lg-2.control-label Checkboxes
                        .col-sm-9.col-md-9.col-lg-10
                          label
                            input(type='checkbox', name='checkboxes', checked='')
                            |                       Checked
                          label
                            input(type='checkbox', name='checkboxes')
                            |                       Unchcked
                          label.disabled
                            input(type='checkbox', name='checkboxes', checked='', disabled='')
                            |                       Checked disabled
                          label.disabled
                            input(type='checkbox', name='checkboxes', disabled='')
                            |                       Unchecked disabled
                      .form-group
                        label.col-sm-3.col-md-3.col-lg-2.control-label File upload input
                        .col-sm-9.col-md-9.col-lg-10
                          input(type='file')
            div.modal-footer
              a.btn.btn-primary.btn-small(href="javascript:;") 提交
              a.btn.btn-default.btn-small(data-dismiss="modal",href="#") 取消
      .row
        #footer.col-xs-12
          | 2012 - 2013 &copy; Unicorn Admin. Brought to you by
          a(href='#') chinakids
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/jquery-ui.custom.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.icheck.min.js')
    script(src='/js/select2.min.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/jquery.nicescroll.min.js')
    script(src='/js/unicorn.js')
    script(src='/js/unicorn.tables.js')
    script.
      $(function(){
        function formatTime(s){
          var t = new Date(s);
          var str = t.getFullYear() +"年"+(t.getMonth()+1)+"月"+t.getDate()+"日 "+t.getHours()+":"+t.getMinutes();
          return str;
        }
        $('.re-time').each(function(){
          var time = $(this).attr('data-time');
          $(this).text(formatTime(time));
        })
      })
