doctype html
html(lang='zh')
  head
    title 产品原型管理中心
    meta(charset='UTF-8')
    link(rel="shortcut icon",href="/favicon.ico")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/fex-webuploader/dist/webuploader.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='stylesheet', href='/css/icheck/flat/blue.css')
    link(rel='stylesheet', href='/css/select2.css')
    link(rel='stylesheet', href='/css/unicorn.css')
    //if lt IE 9
      script(type='text/javascript', src='js/respond.min.js')
    style.
      #header h1{
      width: 294px;
      }
      #content{
      margin-left: 0;
      margin-top: 0;
      }
      #header .btn-group{
      position: absolute;
      right: 20px;
      top: 20px;
      }
      #content-header .input-group{
      margin-top: 14px;
      }
      #content-header .input-group input{
      border-radius: 4px 0 0 4px;
      }
      .nofilter .dataTables_filter{
      display:none;
      }
      .modal-backdrop{
      z-index:1030;
      }
      input[type=radio]{
      margin-right:5px;
      }
  body.flat(data-color='grey')
    #wrapper
      #header
        h1
        .btn-group
          a.btn.btn-inverse(href='/')
            i.fa.fa-home.icon-white  原型首页
          a.btn.btn-inverse.jq-add-list(href='#add-list',data-toggle="modal")
            i.fa.fa-plus.icon-white  添加产品
          a.btn.btn-inverse.jq-add-product(href='#add-product',data-toggle="modal")
            i.fa.fa-plus.icon-white  添加原型
          a.btn.btn-inverse(href='/users/logout')
            i.fa.fa-sign-out.icon-white  退出
      #content
        .row
          .col-xs-3
            .widget-box
              .widget-title
                span.icon
                  i.fa.fa-th
                h5 产品列表
              .widget-content.nopadding.nofilter
                table.table.table-bordered.table-striped.table-hover.data-table
                  thead
                    tr
                      th.col-xs-8 产品名称
                      th.col-xs-4 操作
                  tbody
                    each item in list
                      tr
                        td.jq-list-name(data-id="#{item._id}") #{item.name}
                        td.text-center
                          a(href="?i=#{item._id}&n=#{item.name}",data-id="#{item._id}") 查看原型
          .col-xs-9
            .widget-box
              .widget-title
                span.icon
                  i.fa.fa-th
                h5 #{title}
                  a(href="/users",style="margin-left: 10px;border: 1px solid #CDCDCD;border-radius: 4px;padding: 2px 10px;") 查看全部
              .widget-content.nopadding
                table.table.table-bordered.table-striped.table-hover.data-table
                  thead
                    tr
                      th.col-xs-2 时间
                      th.col-xs-4 名称
                      th.col-xs-1 项目版本
                      th.col-xs-1 原型版本
                      th.col-xs-1 状态
                      th.col-xs-1 作者
                      th.col-xs-2 操作
                  tbody
                    each item in data
                      tr
                        td.re-time.text-center(data-time="#{item.meta.updateAt}") #{item.meta.updateAt}
                        td.jq-product-name(data-id="#{item.info.id}") #{item.info.name}
                        td.jq-product-version.text-center #{item.version}
                        td.jq-product-codeVersion.text-center #{item.codeVersion}
                        if item.status == 1
                          td.jq-product-status(data-status="#{item.status}").open
                            span.badge 正常
                        else if item.status == 2
                          td.jq-product-status(data-status="#{item.status}").stop
                            span.badge 修改中
                        else if item.status == 3
                          td.jq-product-status(data-status="#{item.status}").over
                            span.badge 关闭
                        else
                          td.jq-product-status.other
                            span.badge 未知
                        td #{item.author}
                        td.text-center
                          a(href="#{item.url}",target="_blank") 查看
      div#add-list.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(data-dismiss="modal",type="button") ×
              h3 添加产品
            div.modal-body
              .row.nopadding
                .col-xs-12.nopadding
                  .widget-box(style="margin:0")
                    .widget-content.nopadding
                      form.form-horizontal
                        input.jq-list-id(type='hidden',name='listId')
                        .form-group
                          label.col-sm-3.col-md-3.col-lg-2.control-label 产品名称
                          .col-sm-9.col-md-9.col-lg-10
                            input.form-control.input-sm.spinner(type='text',placeholder='请输入产品名称（不大于20个字）',name='listName')
            div.modal-footer
              a.btn.btn-primary.btn-small.jq-submit-list(href="javascript:;") 提交
              a.btn.btn-default.btn-small(data-dismiss="modal",href="#") 取消
      div#add-product.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(data-dismiss="modal",type="button") ×
              h3 添加原型
            div.modal-body
              .row.nopadding
                .col-xs-12.nopadding
                  .widget-box(style="margin:0")
                    .widget-content.nopadding
                      form.form-horizontal
                        input.jq-product-id(type='hidden',name='productId')
                        .form-group
                          label.col-sm-3.col-md-3.col-lg-2.control-label 产品
                          .col-sm-9.col-md-9.col-lg-10
                            select(name='productList',style='position: relative;top: 5px;')
                              each item in list
                                option(value="#{item._id}") #{item.name}
                        .form-group
                          label.col-sm-3.col-md-3.col-lg-2.control-label 产品版本
                          .col-sm-9.col-md-9.col-lg-10
                            input.form-control.input-sm.spinner(type='text',placeholder='请输入产品版本号',name='productVersion')
                        .form-group
                          label.col-sm-3.col-md-3.col-lg-2.control-label 需求版本
                          .col-sm-9.col-md-9.col-lg-10
                            input.form-control.input-sm.spinner(type='text',placeholder='请输入需求版本号（纯数字）',name='productCodeVersion')
                        .form-group
                          label.col-sm-3.col-md-3.col-lg-2.control-label 状态
                          .col-sm-9.col-md-9.col-lg-10
                            label
                              input(type='radio', name='productStatus',value='1', checked='')
                              | 正常&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            label
                              input(type='radio', name='productStatus',value='2')
                              | 修改中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            label
                              input(type='radio', name='productStatus',value='3')
                              | 关闭&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        .form-group.jq-file
                          label.col-sm-3.col-md-3.col-lg-2.control-label 原型包
                          .col-sm-9.col-md-9.col-lg-10
                            div#uploader.wu-example
                              div#thelist.uploader-list
                              div.btns
                                  div#picker 选择文件
            div.modal-footer
              a.btn.btn-primary.btn-small.jq-submit-product(href="javascript:;") 提交
              a.btn.btn-default.btn-small(data-dismiss="modal",href="#") 取消
      .row
        #footer.col-xs-12
          | 2012 - 2013 &copy; Unicorn Admin. Brought to you by
          a(href='#') chinakids
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/lib/fex-webuploader/dist/webuploader.min.js')
    script(src='/js/jquery-ui.custom.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.icheck.min.js')
    script(src='/js/select2.min.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/jquery.nicescroll.min.js')
    script(src='/js/unicorn.js')
    script(src='/js/unicorn.tables.js')
    script.
      $(function(){
        function formatTime(s){
          var t = new Date(s);
          var str = t.getFullYear() +"年"+(t.getMonth()+1)+"月"+t.getDate()+"日 "+(parseInt(t.getHours())<10 ? ('0'+t.getHours()) : t.getHours())+":"+(parseInt(t.getMinutes())<10 ? ('0'+t.getMinutes()) : t.getMinutes());
          return str;
        }
        $('.re-time').each(function(){
          var time = $(this).attr('data-time');
          $(this).text(formatTime(time));
        })
        $('.dataTables_paginate .ui-button').click(function(){
          $('.re-time').each(function(){
            var time = $(this).attr('data-time');
            $(this).text(formatTime(time));
          })
        })
        //- $('.jq-add-list').click(function(){
        //-   $('input[name=listId]').val('');
        //-   $('input[name=listName]').val('');
        //- })
        //- $('.jq-add-product').click(function(){
        //-   $('input[name=productId]').val('');
        //-   $('select[name=productList]').val('');
        //-   $('select[name=productList] option').eq(0).attr('selected',true);
        //-   $('input[name=productVersion]').val('');
        //-   $('input[name=productCodeVersion]').val('');
        //-   $('input[name=productStatus]:checked').val('');
        //-   $('.jq-file').show();
        //- })
        //- $('.jq-edit-list').click(function(){
        //-   var _id = $(this).attr('data-id'),
        //-       name = $(this).parent().siblings('.jq-list-name').text();
        //-   $('input[name=listId]').val(_id);
        //-   $('input[name=listName]').val(name);
        //- })
        //- $('.jq-edit-product').click(function(){
        //-   var _id = $(this).attr('data-id'),
        //-       infoId = $(this).parent().siblings('.jq-product-name').attr("data-id"),
        //-       version = $(this).parent().siblings('.jq-product-version').text(),
        //-       codeVersion = $(this).parent().siblings('.jq-product-codeVersion').text(),
        //-       status = $(this).parent().siblings('.jq-product-status').attr('data-status');
        //-   $('.jq-file').hide();
        //-   $('input[name=productId]').val(_id);
        //-   $('select[name=productList] option[value='+infoId+']').attr('selected',true);
        //-   $('input[name=productVersion]').val(version);
        //-   $('input[name=productCodeVersion]').val(codeVersion);
        //-   $('input[name=productStatus]').eq(status-1).prop('checked',true);
        //- })
        $('.jq-submit-list').click(function(){
          var id = $('input[name=listId]').val(),
              name = $('input[name=listName]').val();
          $.post('/users/editList', {
              'id': id,
              'name': name
            }, function(data, textStatus, xhr) {
              if(data.status == 1){
                window.location.reload();
              }else{
                alert(data.info)
              }
            }
          )
        })
        var uploader = WebUploader.create({
          // swf文件路径
          swf:'/lib/fex-webuploader/dist/Uploader.swf',
          // 文件接收服务端。
          server: '/users/editProduct',
          // 选择文件的按钮。可选。
          // 内部根据当前运行是创建，可能是input元素，也可能是flash.
          pick: {
            id : '#picker',
            multiple : false
          },
          accept:{
            extensions:'zip'
          },
          // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
          resize: false
        });
        $('.jq-submit-product').click(function(){
          var infoId = infoId = $('select[name=productList]').val();
          uploader.options.formData.id = $('input[name=productId]').val();
          uploader.options.formData.infoId = $('select[name=productList]').val(),
          uploader.options.formData.infoName = $('select[name=productList]').find('option[value='+infoId+']').text(),
          uploader.options.formData.version = $('input[name=productVersion]').val(),
          uploader.options.formData.codeVersion = $('input[name=productCodeVersion]').val(),
          uploader.options.formData.status = $('input[name=productStatus]:checked').val();
          uploader.upload();
          //- var id = $('input[name=productId]').val(),
          //-     infoId = $('select[name=productList]').val(),
          //-     infoName = $('select[name=productList]').find('option[value='+infoId+']').text(),
          //-     version = $('input[name=productVersion]').val(),
          //-     codeVesion = $('input[name=productCodeVersion]').val(),
          //-     status = $('input[name=productStatus]:checked').val();
          //- $.post('/users/editProduct', {
          //-       'id'         : id,
          //-       'info'       : {
          //-         'id'       : infoId,
          //-         'name'     : infoName
          //-       },
          //-       'version'    : version,
          //-       'codeVersion': codeVesion,
          //-       'status'     : status
          //-     }, function(data, textStatus, xhr) {
          //-       if(data.status == 1){
          //-         window.location.reload();
          //-       }else{
          //-         alert(data.info)
          //-       }
          //-   }
          //- )
          uploader.on( 'uploadProgress', function( file, percentage ) {
            $('.webuploader-pick').text('上传中···')
          });

          // 文件上传成功，给item添加成功class, 用样式标记上传成功。
          uploader.on( 'uploadSuccess', function( file ) {
            $('.webuploader-pick').text('上传成功')
            window.location.reload();
          });

          // 文件上传失败，显示上传出错。
          uploader.on( 'uploadError', function( file ) {
            $('.webuploader-pick').text('上传失败')
          });

        })

      })
